@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply flex items-center justify-center rounded text-white;
    }
    .btn + .btn {
        @apply ml-2;
    }
    .btn.btn-sm {
        @apply px-4 py-1.5;
    }
    .btn.btn-md {
        @apply min-w-[150px] px-5 py-2;
    }

    .btn.btn-red {
        @apply bg-red-500 hover:bg-red-400;
    }
    .btn.btn-blue {
        @apply bg-blue-500 hover:bg-blue-400;
    }
    .btn.btn-green {
        @apply bg-green-600 hover:bg-green-500;
    }
    .btn:disabled {
        @apply pointer-events-none opacity-50;
    }

    .text-input {
        @apply rounded border border-slate-300 px-2 text-lg outline-none hover:border-slate-500 focus:border-blue-500;
    }

    .text-input.invalid {
        @apply border-red-500;
    }

    .container {
        @apply my-0 mx-auto max-w-[1200px];
    }

    .text-input.disabled {
        @apply !border-slate-300 !bg-slate-100;
    }

    label {
        cursor: pointer;
    }

    input[type='checkbox'] {
        height: 28px;
        width: 28px;
        border-radius: 4px;
    }
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 5px;
    }
    .sidebar {
        position: relative;
        z-index: 1000;
    }
}
